absl-py==0.9.0
astor==0.8.1
audioread==2.1.8
Keras-Preprocessing
kiwisolver
librosa
llvmlite
Markdown
matplotlib
numba
numpy
opt-einsum
pandas
Pillow
protobuf
pycparser
pyparsing
python-dateutil
python-speech-features
pytz
resampy
scikit-learn
scipy
six
SoundFile
tensorboard
tensorflow-estimator
tensorflow-gpu
termcolor
tqdm
Werkzeug
wrapt

